In [2]:
import numpy as np
import os
import tqdm
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("dark")
np.random.seed(0)

In [10]:
# create csv of all images
p = "Places_Data/train_val"

CSVs = []
images_thrown_away = 0

csvv, raw , seq, post = (0,0,0,0)

for city in tqdm.tqdm(os.listdir("../"+p)): #["berlin"]):

    dfs = []

    for folder in ['query', 'database']:

        path = f"{p}/{city}/{folder}"

        csvv = pd.read_csv(f"../{path}/postprocessed.csv",index_col = 1)

        raw = pd.read_csv(f"../{path}/raw.csv",index_col = 1)

        seq = pd.read_csv(f"../{path}/seq_info.csv",index_col = 1)

        post = pd.read_csv(f"../{path}/postprocessed.csv",index_col = 1)

        csv = csv.merge(raw[:,1:].to_frame(),left_index=True,right_index=True).merge(seq[["sequence_key","frame_number"]],left_index=True,right_index=True).merge(post.iloc[:,1:],left_index=True,right_index=True)

        csv["Path"] = path

        csv["City"] = city

        csv = csv.reset_index()

        dfs.append(csv)

    
    df_seq = pd.concat(dfs)
    sequences = df_seq["sequence_key"].unique()

    unique_dicretion = lambda key: bool(1-(len(df_seq.loc[df_seq["sequence_key"]==key,"pano"].unique()) == 1))
    vals = {sequence: unique_dicretion(sequence) for sequence in sequences}

    df_seq["change_in_seq"] = df_seq["sequence_key"].map(vals)

  
    CSVs.append(df_seq)

df = pd.concat(CSVs)
df.index = range(len(df))

  0%|          | 0/1 [00:00<?, ?it/s]/tmp/ipykernel_256267/374228900.py:25: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  csv = csv.merge(raw["pano"].to_frame(),left_index=True,right_index=True).merge(seq[["sequence_key","frame_number"]],left_index=True,right_index=True).merge(post,left_index=True,right_index=True)
/tmp/ipykernel_256267/374228900.py:25: FutureWarning: Passing 'suffixes' which cause duplicate columns {'northing_x', 'control_panel_x', 'view_direction_x', 'night_x', 'easting_x', 'unique_cluster_x'} in the result is deprecated and will raise a MergeError in a future version.
  csv = csv.merge(raw["pano"].to_frame(),left_index=True,right_index=True).merge(seq[["sequence_key","frame_number"]],left_index=True,right_index=True).merge(post,left_index=True,right_index=True)
  0%|          | 0/1 [00:00<?, ?it/s]

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [12]:
df = pd.read_csv("prelim.csv",index_col=0)

In [16]:
(df["unique_cluster_x"]!=df["unique_cluster_y"]).any()

False

In [11]:
csvv

,Unnamed: 0,easting,northing,unique_cluster,control_panel,night,view_direction
key,,,,,,,
1Zo_7pjS6hwhRKqy0P5dRA,0,386202.043829,5.813338e+06,0,False,False,Forward
SgMdB3l1KjkiOCi66B2_-Q,1,386207.713584,5.813347e+06,0,False,False,Forward
XrUp0yR583OMfbzmk0qJtA,2,386213.756137,5.813355e+06,0,False,False,Forward
4rL3324h3ardVSjPN03xOg,3,386219.044968,5.813363e+06,0,False,False,Forward
YU3M7re8l-bQnuDB2QElbg,4,386224.150771,5.813372e+06,0,False,False,Forward
...,...,...,...,...,...,...,...
cDh1zl9L2vg8AJYS_pplFA,42960,385820.809310,5.812770e+06,1711,True,False,Forward
-N3DOLEwND12j-4K9C9GCg,42961,385815.303847,5.812785e+06,1711,True,False,Forward
dvT-GyjQVwCjIwKCHxY8Rg,42962,385809.784193,5.812800e+06,1711,True,False,Forward
kc4xsJNJ-h9QH05LQG8CHg,42963,385800.119991,5.812814e+06,1711,True,False,Forward
F7XTPQPwxU8Wc0yGllo01g,42964,385787.935558,5.812835e+06,1711,True,False,Forward

In [8]:
seq

                        Unnamed: 0            sequence_key  frame_number
key
1Zo_7pjS6hwhRKqy0P5dRA           0  DPD2-qP1OmP9RAc7SUFsRQ           316
SgMdB3l1KjkiOCi66B2_-Q           1  DPD2-qP1OmP9RAc7SUFsRQ           317
XrUp0yR583OMfbzmk0qJtA           2  DPD2-qP1OmP9RAc7SUFsRQ           318
4rL3324h3ardVSjPN03xOg           3  DPD2-qP1OmP9RAc7SUFsRQ           319
YU3M7re8l-bQnuDB2QElbg           4  DPD2-qP1OmP9RAc7SUFsRQ           320
...                            ...                     ...           ...
cDh1zl9L2vg8AJYS_pplFA       71157  srmYuXJ5-6txgL5vXCD3hQ           536
-N3DOLEwND12j-4K9C9GCg       71158  srmYuXJ5-6txgL5vXCD3hQ           537
dvT-GyjQVwCjIwKCHxY8Rg       71159  srmYuXJ5-6txgL5vXCD3hQ           538
kc4xsJNJ-h9QH05LQG8CHg       71160  srmYuXJ5-6txgL5vXCD3hQ           539
F7XTPQPwxU8Wc0yGllo01g       71161  srmYuXJ5-6txgL5vXCD3hQ           540

[42965 rows x 3 columns]

In [7]:
raw

,Unnamed: 0,lon,lat,ca,captured_at,pano
key,,,,,,
1Zo_7pjS6hwhRKqy0P5dRA,0,13.325139,52.458353,36.0,2015-08-01,False
SgMdB3l1KjkiOCi66B2_-Q,1,13.325219,52.458431,36.0,2015-08-01,False
XrUp0yR583OMfbzmk0qJtA,2,13.325306,52.458503,38.0,2015-08-01,False
4rL3324h3ardVSjPN03xOg,3,13.325381,52.458578,33.0,2015-08-01,False
YU3M7re8l-bQnuDB2QElbg,4,13.325453,52.458656,35.0,2015-08-01,False
...,...,...,...,...,...,...
cDh1zl9L2vg8AJYS_pplFA,42960,13.319725,52.453167,346.0,2016-04-03,False
-N3DOLEwND12j-4K9C9GCg,42961,13.319639,52.453300,341.0,2016-04-03,False
dvT-GyjQVwCjIwKCHxY8Rg,42962,13.319553,52.453428,334.0,2016-04-03,False
kc4xsJNJ-h9QH05LQG8CHg,42963,13.319406,52.453558,330.0,2016-04-03,False
F7XTPQPwxU8Wc0yGllo01g,42964,13.319219,52.453739,344.0,2016-04-03,False

In [6]:
post

,Unnamed: 0,easting,northing,unique_cluster,control_panel,night,view_direction
key,,,,,,,
1Zo_7pjS6hwhRKqy0P5dRA,0,386202.043829,5.813338e+06,0,False,False,Forward
SgMdB3l1KjkiOCi66B2_-Q,1,386207.713584,5.813347e+06,0,False,False,Forward
XrUp0yR583OMfbzmk0qJtA,2,386213.756137,5.813355e+06,0,False,False,Forward
4rL3324h3ardVSjPN03xOg,3,386219.044968,5.813363e+06,0,False,False,Forward
YU3M7re8l-bQnuDB2QElbg,4,386224.150771,5.813372e+06,0,False,False,Forward
...,...,...,...,...,...,...,...
cDh1zl9L2vg8AJYS_pplFA,42960,385820.809310,5.812770e+06,1711,True,False,Forward
-N3DOLEwND12j-4K9C9GCg,42961,385815.303847,5.812785e+06,1711,True,False,Forward
dvT-GyjQVwCjIwKCHxY8Rg,42962,385809.784193,5.812800e+06,1711,True,False,Forward
kc4xsJNJ-h9QH05LQG8CHg,42963,385800.119991,5.812814e+06,1711,True,False,Forward
F7XTPQPwxU8Wc0yGllo01g,42964,385787.935558,5.812835e+06,1711,True,False,Forward

In [4]:
df

,key,Unnamed: 0_x,easting_x,northing_x,unique_cluster_x,control_panel_x,night_x,view_direction_x,pano,Unnamed: 0_y,...,Unnamed: 0,easting_y,northing_y,unique_cluster_y,control_panel_y,night_y,view_direction_y,Path,City,change_in_seq
0,Ek08yvVCR1tXrD4ZSx59CA,0,386194.912199,5.813341e+06,0,False,False,Forward,False,5,...,0,386194.912199,5.813341e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
1,aCucEyYErknYIk99tYLHiQ,1,386199.044656,5.813348e+06,0,False,False,Forward,False,6,...,1,386199.044656,5.813348e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
2,nYhcqj88tExjKqYf0nrO3g,2,386204.488335,5.813355e+06,0,False,False,Forward,False,7,...,2,386204.488335,5.813355e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
3,eLqnEy7NZAuP6WbRzLJm7g,3,386209.148824,5.813360e+06,0,False,False,Forward,False,8,...,3,386209.148824,5.813360e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
4,lZqqhLInfkKV0EJlrbSH_w,4,386214.585088,5.813366e+06,0,True,False,Forward,False,9,...,4,386214.585088,5.813366e+06,0,True,False,Forward,Places_Data/train_val/berlin/query,berlin,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71157,cDh1zl9L2vg8AJYS_pplFA,42960,385820.809310,5.812770e+06,1711,True,False,Forward,False,71157,...,42960,385820.809310,5.812770e+06,1711,True,False,Forward,Places_Data/train_val/berlin/database,berlin,False
71158,-N3DOLEwND12j-4K9C9GCg,42961,385815.303847,5.812785e+06,1711,True,False,Forward,False,71158,...,42961,385815.303847,5.812785e+06,1711,True,False,Forward,Places_Data/train_val/berlin/database,berlin,False
71159,dvT-GyjQVwCjIwKCHxY8Rg,42962,385809.784193,5.812800e+06,1711,True,False,Forward,False,71159,...,42962,385809.784193,5.812800e+06,1711,True,False,Forward,Places_Data/train_val/berlin/database,berlin,False
71160,kc4xsJNJ-h9QH05LQG8CHg,42963,385800.119991,5.812814e+06,1711,True,False,Forward,False,71160,...,42963,385800.119991,5.812814e+06,1711,True,False,Forward,Places_Data/train_val/berlin/database,berlin,False
71161,F7XTPQPwxU8Wc0yGllo01g,42964,385787.935558,5.812835e+06,1711,True,False,Forward,False,71161,...,42964,385787.935558,5.812835e+06,1711,True,False,Forward,Places_Data/train_val/berlin/database,berlin,False

In [6]:
df.to_csv("prelim.csv")

In [ ]:
df["Uni"]

In [7]:
df

,key,Unnamed: 0_x,easting_x,northing_x,unique_cluster_x,control_panel_x,night_x,view_direction_x,pano,Unnamed: 0_y,...,Unnamed: 0,easting_y,northing_y,unique_cluster_y,control_panel_y,night_y,view_direction_y,Path,City,change_in_seq
0,Ek08yvVCR1tXrD4ZSx59CA,0,386194.912199,5.813341e+06,0,False,False,Forward,False,5,...,0,386194.912199,5.813341e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
1,aCucEyYErknYIk99tYLHiQ,1,386199.044656,5.813348e+06,0,False,False,Forward,False,6,...,1,386199.044656,5.813348e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
2,nYhcqj88tExjKqYf0nrO3g,2,386204.488335,5.813355e+06,0,False,False,Forward,False,7,...,2,386204.488335,5.813355e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
3,eLqnEy7NZAuP6WbRzLJm7g,3,386209.148824,5.813360e+06,0,False,False,Forward,False,8,...,3,386209.148824,5.813360e+06,0,False,False,Forward,Places_Data/train_val/berlin/query,berlin,False
4,lZqqhLInfkKV0EJlrbSH_w,4,386214.585088,5.813366e+06,0,True,False,Forward,False,9,...,4,386214.585088,5.813366e+06,0,True,False,Forward,Places_Data/train_val/berlin/query,berlin,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464293,5yuTyIDoLjIjuLUkZHLnIg,2986,463101.479221,5.248632e+06,116,False,False,Forward,False,5179,...,2986,463101.479221,5.248632e+06,116,False,False,Forward,Places_Data/train_val/zurich/database,zurich,False
1464294,dKM4Cg997e-MTtnEZOcGfg,2987,463079.520843,5.248641e+06,116,False,False,Forward,False,5180,...,2987,463079.520843,5.248641e+06,116,False,False,Forward,Places_Data/train_val/zurich/database,zurich,False
1464295,WYtysY-NGgFFnKuALQf6ww,2988,463047.950175,5.248654e+06,116,False,False,Forward,False,5181,...,2988,463047.950175,5.248654e+06,116,False,False,Forward,Places_Data/train_val/zurich/database,zurich,False
1464296,_EU8VlaTNwGCIm1-V3WqXw,2989,463027.234823,5.248660e+06,116,False,False,Forward,False,5182,...,2989,463027.234823,5.248660e+06,116,False,False,Forward,Places_Data/train_val/zurich/database,zurich,False
1464297,L5RYwv-wWdnd8Hr0tZnhgA,2990,462996.735045,5.248678e+06,116,False,False,Forward,False,5183,...,2990,462996.735045,5.248678e+06,116,False,False,Forward,Places_Data/train_val/zurich/database,zurich,False